.product {
  display: flex;
  height: 100vh;
  width: 100%;

  .page_wrap {
    display: flex;
    margin: 11rem auto;
    width: 50%;

    .image_wrap {
      margin-right: 3rem;
    }

    .product_details {
      display: flex;
      flex-direction: column;
      margin-left: 3rem;
      margin-top: -2rem;

      .product_details_title {
        font-size: 2.6rem;
        margin-bottom: 1.5rem;
      }

      .product_details_quantity {
        font-size: 1.6rem;
        margin-bottom: 5rem;
      }
      .products_details_button {
        display: flex;
        width: 330px;
        height: 40px;
        background-color: #3cb371;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
      }
      .product_details_text {
        width: 350px;
        margin-top: 3rem;

        h4 {
          margin-top: 3rem;
          font-size: 1.6rem;
          font-weight: 300;
        }

        hr {
          margin-bottom: 4rem;
        }

        p {
          font-size: 1.45rem;
          line-height: 2rem;
          margin-bottom: 4rem;
        }
      }
    }
  }
}
