.the_szunets {
  height: auto;

  .the_szunets_wrap {
    margin: 8rem auto 6rem;
    // width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .szunets_img {
      width: 100%;
      height: auto;
      max-width: 1100px;
    }

    h1 {
      font-weight: 300 !important;
      letter-spacing: 0.8rem;
      font-size: 2.2rem;

      line-height: 4rem;
      margin: 0 2rem 6.5rem 2rem;
      text-align: center;
    }
    .the_szunets_info {
      width: 40rem;
      margin-top: 4rem;
      margin-bottom: 4rem;
      p {
        font-size: 1.5rem;
        line-height: 3rem;
        letter-spacing: 0.15rem;
        word-spacing: 0.05rem;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .the_szunets {
    .the_szunets_wrap {
      margin: 10rem auto 6rem;

      .the_szunets_info {
        width: 60rem;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .the_szunets {
    .the_szunets_wrap {
      .the_szunets_info {
        width: 90rem;
      }
    }
  }
}
