.homepage {
  height: 75vh;

  .homepage_wrap {
    text-align: center;
    margin: 3.5rem auto 7rem;
    width: 40rem;
    p {
      font-size: 2rem;
      // font-family: "Bodoni Moda", serif;
      line-height: 5rem;
      letter-spacing: 0.2rem;
      word-spacing: 0.1rem;
      margin-bottom: 6rem;
    }

    .homepage_button {
      display: none;
    }

    .the_series_button {
      width: 70%;
      margin: auto;

      .the_series_button_button {
        background-color: black;
        color: white;
        margin: 2rem;
        padding: 1rem 3rem;
        border: 1px solid white;
        font-size: 1.45rem;
        // font-family: "Bodoni Moda", serif;
        line-height: 4rem;
        letter-spacing: 0.2rem;
        word-spacing: 0.1rem;
      }

      .the_series_button_button:hover {
        background-color: #605e5e;
        border: 1px solid #605e5e;
        transition: all 0.5s ease;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .homepage {
    height: 65vh;
    .homepage_wrap {
      width: 60rem;
      margin: 10rem auto 8rem;

      .homepage_button {
        display: inline;
        width: 60%;
        margin: auto;

        .homepage_button_button {
          background-color: black;
          color: white;
          margin: 6rem;
          padding: 1rem 3rem;
          border: 1px solid white;
          font-size: 1.45rem;
          // font-family: "Bodoni Moda", serif;
          line-height: 4rem;
          letter-spacing: 0.2rem;
          word-spacing: 0.1rem;
        }

        .homepage_button_button:hover {
          background-color: #605e5e;
          border: 1px solid #605e5e;
          transition: all 0.5s ease;
        }
      }
      .the_series_button {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .homepage {
    .homepage_wrap {
      width: 80rem;

      .homepage_button {
        width: 40%;

        .homepage_button_button {
          margin: 8rem;
        }
      }
    }
  }
}
